<!DOCTYPE html>
<html lang="en_ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="shortcut icon" href="img/gaigo-logo-only.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/index_css.css">

    <title>GAIGO | Web Developer</title>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
    <!-- ADS -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8935473202900591"
        crossorigin="anonymous"></script>
    <!-- Ads-One -->
    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-8935473202900591" data-ad-slot="4387423606"
        data-ad-format="auto" data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    
    <!-- Nav -->
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white shadow-sm">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="img/gaigo-logo-only.png" alt="Gaigo Logo" class="page-top-logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav navbar-gaigo">
                    <a class="nav-link" href="pages/frontend/coding_play_ground/code_pg_js.html">
                        Coding Ground<sup>*JS</sup>
                    </a>
                    <a class="nav-link" href="pages/frontend/coding_play_ground/coding_pg_html_css.html">
                        Coding Ground<sup>HTML & CSS</sup>
                    </a>
                    <a class="nav-link" href="pages/frontend/exam/js_exam.html"
                        ng-class="loginStatus ? '' : 'disabled disabled-gaigo'">Exam</a>
                    <!-- <a class="nav-link" href="pages/login/login.html">Log In</a> -->
                    <!-- Button trigger modal -->
                    <a ng-show="!loginStatus" class="nav-link" href="" data-bs-toggle="modal"
                        data-bs-target="#loginModal">
                        Log In
                    </a>
                    <span class="username-table-wrapper" ng-show="loginStatus">
                        <span class="username-table-cell-wrapper">
                            <ruby class="username-table-cell-item">
                                {{userNameJp}} <rp>(</rp>
                                <rt>{{userNameEn}}</rt>
                                <rp>)</rp>
                            </ruby>
                        </span>
                    </span>
                    <a ng-show="loginStatus" href="pages/profile/profile.html" class="nav-link">MyProfile</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <!-- Main -->
        <main>

            <!--  Boxes  -->
            <section class="p-5">
                <div class="container">
                    <div class="row text-center g-4">
                        <!-- HTML -->
                        <div class="col-md-6 col-lg-6 col-xl-4" onclick="goNext('html')">
                            <div class="card bg-gaigo text-light shadow div-lang">
                                <div class="card-body text-center">
                                    <div class="h1 mb-3">
                                        <img src="img/html_logo.svg" />
                                    </div>
                                    <h3 class="card-title mb-3">
                                        HTML
                                    </h3>
                                </div>
                            </div>
                        </div>

                        <!-- CSS -->
                        <div class="col-md-6 col-lg-6 col-xl-4" onclick="goNext('css')">
                            <div class="card bg-gaigo text-light shadow div-lang">
                                <div class="card-body text-center">
                                    <div class="h1 mb-3">
                                        <img src="img/css_logo.svg" />
                                    </div>
                                    <h3 class="card-title mb-3">
                                        CSS
                                    </h3>
                                </div>
                            </div>
                        </div>

                        <!-- JS -->
                        <div class="col-md-6 col-lg-6 col-xl-4" onclick="goNext('js')">
                            <div class="card bg-gaigo text-light shadow div-lang">
                                <div class="card-body text-center">
                                    <div class="h1 mb-3">
                                        <img src="img/javascript_logo.svg" />
                                    </div>
                                    <h3 class="card-title mb-3">
                                        JavaScript
                                    </h3>
                                </div>
                            </div>
                        </div>

                        <!-- Java -->
                        <div class="col-md-6 col-lg-6 col-xl-4" onclick="goNext('java')">
                            <div class="card bg-gaigo text-light shadow div-lang">
                                <div class="card-body text-center">
                                    <div class="h1 mb-3">
                                        <img src="img/java_logo.svg" />
                                    </div>
                                    <h3 class="card-title mb-3">
                                        Java
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </main>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="loginModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form ng-submit="loginAction()" id="login-form">
                    <div class="modal-header">
                        <h5 class="modal-title" id="loginModalLabel">Log In</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="stdIdInput" class="form-label">User ID</label>
                            <input type="text" class="form-control" id="stdIdInput" placeholder="Enter your ID."
                                ng-model="stdId" required>
                        </div>
                        <div class="mb-3">
                            <label for="stdIdPasword" class="form-label">Password</label>
                            <input type="password" class="form-control" id="stdIdPasword"
                                placeholder="Enter your password." ng-model="password" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                            id="modal-close-id">Close</button>
                        <button type="submit" class="btn btn-primary" id="modal-login-id">Log In</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>

    <!-- Angular JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <script src="js/index_js.js"></script>
</body>

</html>