<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="shortcut icon" href="../../../img/gaigo-logo-only.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">

    <link rel="stylesheet" href="../../../css/style.css">
    <link rel="stylesheet" href="../../../css/code_pg_html_css_css.css">
    <title>JS | Coding Ground</title>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
    <!-- Nav -->
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white shadow-sm">
        <div class="container">
            <a class="navbar-brand" href="../../../index.html">
                <img src="../../../img/gaigo-logo-only.png" alt="" class="page-top-logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav navbar-gaigo">
                    <a class="nav-link" aria-current="page" href="code_pg_js.html">Coding Ground<sup>*JS</sup></a>
                    <a class="nav-link active active-gaigo" href="#">
                        Coding Ground<sup>HTML & CSS</sup>
                    </a>
                    <a class="nav-link" href="../exam/js_exam.html"
                        ng-class="loginStatus ? '' : 'disabled disabled-gaigo'">Exam</a>
                    <!-- Button trigger modal -->
                    <a ng-show="!loginStatus" class="nav-link" href="" data-bs-toggle="modal"
                        data-bs-target="#loginModal">
                        Log In
                    </a>
                    <span class="username-table-wrapper" ng-show="loginStatus">
                        <span class="username-table-cell-wrapper">
                            <ruby class="username-table-cell-item">
                                {{userNameJp}} <rp>(</rp>
                                <rt>{{userNameEn}}</rt>
                                <rp>)</rp>
                            </ruby>
                        </span>
                    </span>
                    <a ng-show="loginStatus" href="../../profile/profile.html" class="nav-link">MyProfile</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <!-- Header -->
        <header>
            <h1 class="border-btm mt-2 mb-4">HTML&CSS Coding Ground</h1>
        </header>

        <main>
            <section class="pb-4 pt-4 bg-secondary bg-opacity-25" id="layoutBg">
                <div class="container-fluid">
                    <div class="d-flex">
                        <!-- HTML,CSS Tabs -->
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <button class="nav-link active" id="nav-html-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-html" type="button" role="tab">HTML</button>
                                <button class="nav-link" id="nav-css-tab" data-bs-toggle="tab" data-bs-target="#nav-css"
                                    type="button" role="tab">CSS</button>
                            </div>
                        </nav>
                        <!-- Theme Mode Change Button -->
                        <a class="btn btn-reset btn-lg" ng-click="changeThemeMode();">
                            <i class="bi bi-lightbulb-fill text-dark" id="themeChangeIconId"></i>
                        </a>
                        <!-- Layout Orientation Change Button -->
                        <a class="btn btn-reset btn-lg d-none d-sm-none d-md-block"
                            ng-click="changeLayoutOrientation();">
                            <i class="bi bi-symmetry-vertical text-dark" id="layoutChangeIconId"></i>
                        </a>
                    </div>

                    <div class="row g-3">
                        <div class="col-12 col-md-6" id="leftCodeInputDivId">
                            <div class="tab-content" id="nav-tabContent">
                                <!-- HTML -->
                                <div class="tab-pane fade show active" id="nav-html" role="tabpanel">
                                    <form>
                                        <div class="form-group">
                                            <textarea spellcheck="false"
                                                class="form-control h-100 bg-white p-1 text-area-place-holder-light-theme"
                                                id="leftHTMLCodeInput" rows="20" ng-init="htmlSourceCode = ''"
                                                ng-model="htmlSourceCode" ng-change="codeHTMLInputChange()"
                                                onkeypress=""
                                                placeholder="&lt;h1&gt;Welcome To Coding Ground&lt;/h1&gt;&#10;&lt;p&gt;Write down HTML Element...&lt;/p&gt;"></textarea>
                                        </div>
                                    </form>
                                </div>
                                <!-- CSS -->
                                <div class="tab-pane fade" id="nav-css" role="tabpanel"
                                    aria-labelledby="nav-profile-tab">
                                    <form>
                                        <div class="form-group">
                                            <textarea spellcheck="false"
                                                class="form-control h-100 bg-white p-1 text-area-place-holder-light-theme"
                                                id="leftCSSCodeInput" rows="20" ng-init="cssSourceCode = ''"
                                                ng-model="cssSourceCode" ng-change="codeCSSInputChange()"
                                                placeholder="body {&#10;    background-color:blue;&#10;}" onkeypress="">
                                </textarea>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6" id="leftCodeResultDivId">
                            <iframe id="leftCodeResult" src="about:blank" class="w-100 h-100 bg-light p-0"></iframe>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="d-flex flex-column">

                </div>
            </section>
        </main>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="loginModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form ng-submit="loginAction()" id="login-form">
                    <div class="modal-header">
                        <h5 class="modal-title" id="loginModalLabel">Log In</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="stdIdInput" class="form-label">User ID</label>
                            <input type="text" class="form-control" id="stdIdInput" placeholder="Enter your ID."
                                ng-model="stdId" required>
                        </div>
                        <div class="mb-3">
                            <label for="stdIdPasword" class="form-label">Password</label>
                            <input type="password" class="form-control" id="stdIdPasword"
                                placeholder="Enter your password." ng-model="password" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                            id="modal-close-id">Close</button>
                        <button type="submit" class="btn btn-primary" id="modal-login-id">Log In</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>

    <!-- Angular JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <script src="../../../js/code_pg_html_css_js.js"></script>
</body>

</html>